fastapi
uvicorn[standard]
python-dotenv
python-jose
google-auth
google-auth-oauthlib
google-auth-httplib2
TTS
openai-whisper
openai
torch --index-url https://download.pytorch.org/whl/cpu
numpy
soundfile
